/* Home.css */
body {
  background-image: url('Login_Page_Background.jpg');
  background-size: cover;       /* Makes image cover the whole screen */
  background-position: center;  /* Centers the image */
  background-repeat: no-repeat; /* Prevents tiling */
  font-family: Calibri;
}

h1 {
  text-align: left; /* Change to left, center, or right */
  margin-left: 5%;
  font-family: Calibri;
  font-size: 312.5%;
  color:#b4a7d6;
}
p {
  margin-left: 5%;
  font-family: Calibri;
  font-size: 20px;
  color:#8e7cc3;
}
/* Style for the second paragraph as a link */
.cta-link {
    color: #9900ff;
    text-decoration: none;
    display: inline-block;
    margin-left: 5%;
    margin-top: 20px;
    font-family: Calibri;
    font-size: 20px;
}

.cta-link:hover {
    text-decoration: underline;
}
footer {
    margin-left: 5%;
    font-family: Calibri;
    font-size: 20px;
    color:white;
}
