{% extends "layout.html" %}
{% set body_class = "bg-page" %}


{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="home-container">
        <h1 class="welcome-title">Welcome :)</h1>
                <div class="home-cards-wrapper">
            <div class="home-cards-container">
                <div class="home-card">
                    <a href="/python">
                        <div class="home-card-icon">🐍</div>
                        <div class="home-card-title">Introduction to Programming<br>-Python</div>
                    </a>
                </div>
                <div class="home-card">
                    <a class= nav-link href="/html">
                        <div class="home-card-icon"></div>
                        <div class="home-card-title">Introduction to Programming<br>-HTML & CSS</div>
                    </a>
                </div>
                <div class="home-card home-coming-soon-card">
                    <div class="home-card-title">Coming Soon<br>5-10 Skyblock<br>Business days</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
