{% extends "layout.html" %}
{% set body_class = "bg-page" %}


{% block title %}
    Home
{% endblock %}

{% block main %}
    <div class="home-container">
        <h1 class="welcome-title">Welcome :)</h1>
                <div class="home-cards-wrapper">
            <div class="home-cards-container">
                <div class="home-card">
                    <a href="/python">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" alt="Python" height="100">
                        <div class="home-card-title">Introduction to Programming<br>-Python</div>
                    </a>
                </div>
                <div class="home-card">
                    <a class= nav-link href="/html">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg" alt="HTML CSS" height="100">
                        <div class="home-card-title">Introduction to Programming<br>-HTML & CSS</div>
                    </a>
                </div>
                <div class="home-card home-coming-soon-card">
                    <div class="home-card-title">Coming Soon<br>5-10 Skyblock<br>Business days</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
