{% extends "layout.html" %}
{% set body_class = "bg-page" %}


{% block title %}
    Log In
{% endblock %}

{% block main %}
<div class="main-container">
    <div class="information-area">
        <h1></h1>
        <p></p>
        <a></a>

        <h1>Have you tried any of<br> our other courses?</h1>
        <p>Learn general application programming<br> or basic front end development with<br> Python and HTML/CSS</p>
        <a href="/information">View Courses →</a>

        <h1></h1>
        <p></p>
        <a></a>
    </div>

    <div class="form-area">
        <div class="tabs">
            <a class="tab active">Log In</a>
            <a href="/register" class="tab {% if request.path == '/register' %}active{% endif %}">Sign Up</a>
        </div>
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
            </div>

            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}

            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
    </div>
</div>
{% endblock %}
