{% extends "layout.html" %}
{% set body_class = "bg-page" %}


{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="main-container">
    <div class="information-area">
        <h1>Profile Customisation</h1>
        <p>Coming soon</p>

        <h1></h1>
        <p></p>
    </div>

    <div class="information-area">
        <h1>Themes</h1>
        <p class="" id="light" name="light"></p>
        <button class="btn btn-primary"  id="light" name="light">Light</button>
        <button class="btn btn-primary"  id="dark" name="dark">Dark</button>
        <h1></h1>
        <h1></h1>
        <h2><a class="nav-link" id="light" name="light" href="/logout">Logout</a></h2>
        
    </div>
</div>
{% endblock %}
